In [ ]:
import yfinance as yf
import pandas as pd

from pathlib import Path

In [ ]:
# 1. Par√¢metros
ativo = "ITUB3.SA"
data_inicial = "2022-01-01"
data_final = "2025-12-31"

# 2. Download dos dados (multi_level_index=False evita tabelas "esquisitas")
tabela_cotacao = yf.download(
    ativo,
    start=data_inicial,
    end=data_final,
    progress=False,
    multi_level_index=False,
)

tabela_cotacao["Variacao"] = tabela_cotacao["Close"].diff()

tabela_cotacao["Var%"] = tabela_cotacao["Close"].pct_change() * 100

tabela_cotacao.index = pd.to_datetime(tabela_cotacao.index)
tabela_cotacao.columns.name = None

tabela_cotacao.head(10)

,Close,High,Low,Open,Volume,Variacao,Var%
Date,,,,,,,
2022-01-03,12.387836,12.579598,12.170505,12.330307,1461343,NaN,NaN
2022-01-04,12.662703,12.688270,12.368667,12.368667,1115778,0.274867,2.218847
2022-01-05,12.407017,12.726620,12.387840,12.643522,984350,-0.255686,-2.019204
2022-01-06,12.630735,12.656304,12.368661,12.598777,2113838,0.223719,1.803162
2022-01-07,12.828891,12.848067,12.438973,12.681873,1116684,0.198155,1.568835
2022-01-10,12.899199,12.931160,12.688261,12.828887,964862,0.070308,0.548042
2022-01-11,13.084569,13.135706,12.860847,12.892807,1354841,0.185370,1.437069
2022-01-12,13.090968,13.206024,12.918382,13.084575,1132206,0.006399,0.048906
2022-01-13,13.257160,13.397785,13.020653,13.039829,1303063,0.166192,1.269517
2022-01-14,13.263557,13.365829,13.154891,13.180460,1009163,0.006397,0.048255

In [ ]:
caminho_raiz = Path.cwd().parent

pasta_parquet = caminho_raiz / "arquivos_parquet"
pasta_parquet.mkdir(parents=True, exist_ok=True)

caminho_arquivo = pasta_parquet / "dados_itub.parquet"
tabela_cotacao.to_parquet(caminho_arquivo)

print(f"Arquivo salvo em: {caminho_arquivo}")

Arquivo salvo em: c:\Users\Pc Gamer\OneDrive\FIAP\Machine Learnig Engineering\Fase - 04\fiap_tech_challenge_fase4\arquivos_parquet\dados_itub.parquet